@import "../MainProject.scss";
.SkillBackground{
background-color: $bgcolor;
}
.SkillsPara{
    color:$textcolor;
}

.skillsCard{
    margin-left: 240px ;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 109px;
}
.heading{
    color: white;
    text-align: left;
    padding-left: 260px;
    background-color: black;
    font-family: cursive ;
    text-decoration: underline 2px;

}
.maindiv{
    background-color: black;
}
.androidLogo{
    height: 160px;
    width: auto;
}
.ml{
    height: 180px;
    width: auto;
}
.cpClass{
    height: 160px;
    width: auto;
}

.htmlcss{
    width: 220px;
    height: auto;
}