@import "../MainProject.scss";

.DownloadIcon {
    padding: 4px;
    font-size: 6em;
    color: grey;
    border: 0px solid white;
    border-radius: 50%;
}

.ResumeHeader {
    font-size: 20px;
    font-family: cursive;
    text-decoration: underline 3px;
    color: $textcolor;
    margin-right: 39em;
}

.ResumeBackground {
    height: 100vh;
    background-color: $bgcolor;
}

.DownloadIcon:hover {
    background-color: #CCCCFF;
    cursor: pointer;
}

.resumecontent {
    color: $textcolor;
}

th {
    color: $textcolor;
}

td {
    width: 370px;
    color: $textcolor;
}

.HeadingResumeDownload {
    margin-left: 100px;
    color: $textcolor;
}

.DownloadImg {
    margin-left: 10px;
    border-radius: 50%;
    border: 1px solid white;
    width: 8%;
}