@import "../MainProject.scss";

.ContactsPara {
    color: $textcolor;
}

.body {
    background: $bgcolorforaboutsection;
    padding-bottom: 1em;
    // background-color: #f5f5f5;
}

.nameSect {
    font-size: 1em;
}
.para {
    font-family: cursive;
    color: white;
    border-bottom: 2px solid;
    background-color: black;
    border-radius: 10px;
}

.contactHeader {
    color: $textcolor;
    float: left;
    padding-left: 250px;
    text-decoration: underline 2px;
    font-family: cursive;
    font-size: 2.5em;


}

.contactIcon {
    font-size: 2em;
    color: black;
}

.contactIcon:hover {

    font-size: 2em;
    color: grey;
    border-radius: 100%;
    background-color: black;
    cursor: pointer;
    // text-decoration: none;

}


.messageField {
    border-radius: 10px;
    width: 24em;
    height: 20em;
    font-family: cursive;
    background-color: whitesmoke;
}

.input {
    border-radius: 10px;
    background-color: whitesmoke;
}

.div {
    // float: left;
    border: 1px hidden;
    padding-bottom: 3px;
    margin-right: 400px;
    margin-left: 450px;
    border-radius: 10px;
    background-color: white;
    color: black;



}

.submitButton {
    border-radius: 5px;
    border: 1em none;
    background-color: black;
    color: aliceblue;
}