// sidebar section style varible boolresult
$textcolor: white;
$bgcolor: var(--boolresult);
// about section style variables
$bgcolorforaboutsection:var(--boolresultforaboutbg);
$textcolorforsectioncomponents:var(--boolresultforabouttext);
$bgcolorforaboutsectioncards:var(--boolresultforaboutcardbg);

.parentProfileDiv {
    height: 100%;
    position: fixed;
    background: black;
    padding: 60px;
    overflow: auto;

}

.parentProfileDiv::-webkit-scrollbar {
    width: 8px;
}

.parentProfileDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


.parentProfileDiv::-webkit-scrollbar-thumb {
    background: #CCCCFF;
    border-radius: 10px;
}

.parentProfileDiv::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.Heroimage {
    height: 100vh;
    width: 100%;
}

div.buttonAlignment {
    text-align: center;
}

div.buttonAlignment button {
    border-radius: 5px;
    border: hidden;
    margin-bottom: 10px;
    background-color: $bgcolor;
    color: $textcolor;
    font-size: 20px;
}

.profileImage {
    border: 2px solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;

}

.profileNameHandleDiv {
    margin-bottom: 30px;
    color: $bgcolor;

}

.MUI {
    color: $bgcolor;
    font-size: large;
    cursor: pointer;
}

.MUI:hover {
    color: #ccf5ff
}

.handleIcons {
    font-size: large;
}

.handleIconsBorder {
    padding: 4px;
    font-size: 2em;
    color: $bgcolor;
    
    border-radius: 50%;
    background-color: black;
}

.handleIconsBorder:hover {
    background-color: #CCCCFF;
    cursor: pointer;
}

.animatedText {
    color: orange;
    font-family: monospace;
    font-size: 4em;
    position: absolute;
    right: 20%;
    left: 80%;
    bottom: 2%;
}