.parentProfileDiv{
    height: 100vh;
    position: absolute;
    background: black;
    padding: 60px;
    
}
.Heroimage{
height:100vh;
width:100%;
}
div.buttonAlignment {
    text-align: left;
}

div.buttonAlignment button{
    border-radius: 5px;
    border: hidden;
    margin-bottom: 10px;
    background-color: black;
    color: grey;
    font-size: 20px;  
}

.profileImage{
    border: 2px solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    
}

.profileNameHandleDiv{
    margin-bottom: 30px ;
    color: azure;
    
}
.MUI{
    color: grey;
    font-size: 22px;
    cursor: pointer;
    
}

.MUI:hover{
    color: #CCCCFF
}

.handleIcons{
    font-size: large;
}

.handleIconsBorder{
    padding: 4px;
    font-size: 35px;
    color: grey;
    border: 0px solid white;
    border-radius: 50%;
    background-color: black;
}

.handleIconsBorder:hover{
    background-color: #CCCCFF;
    cursor: pointer;
}
/* .sidebar-wrapper {
	max-width: 295px;
	margin-bottom: 50px
}
@media (max-width:991px) {
	.sidebar-wrapper {
		width: 100%;
		max-width: 992px;
		margin-bottom: 0
	}
} */